.showInfo {
  min-height: 80vh;
}

.showSummary {
  display: flex;
  align-items: center;
  gap: 0 32px;
  width: 70vw;
  margin: 10vh auto;
}

.showSummaryModalWrapper {
  border-radius: 12px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  animation: fadeIn 0.5s linear;
  margin: 8px 8px 8px 0;
  flex: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.showSummaryModal {
  padding: 48px;
  background-color: #f4faff;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.showSummaryPara {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 1.5;
}

.backBtn {
  margin-top: 20px;
  width: 20%;
  text-align: center;
  min-width: 100px;
  padding: 12px 16px;
  border-radius: 32px;
  background-color: #1c3666;
  color: #f4faff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.showSummaryImgWrapper {
  display: flex;
  flex: 1;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s linear;
}

.showSummaryImg {
  width: 100%;
}

@media (max-width: 1024px) {
  .showSummary {
    flex-direction: column;
    gap: 32px 0;
  }

  .showSummaryModalWrapper {
    margin: 8px;
  }

  .showSummaryImgWrapper {
    max-width: 40vw;
    min-width: 150px;
  }
}

@media (max-width: 540px) {
  .showSummary {
    width: 80vw;
  }

  .showSummaryModal {
    padding: 20px;
    font-size: 14px;
  }

  .showSummaryPara {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .showLink,
  .backBtn {
    font-size: 12px;
  }
}
