* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

p,
h1,
h2,
h3,
span,
a,
input {
  color: #1c3666;
}

body {
  background: #bbdbe6;
  min-width: 310px;
}

html {
  overflow-y: visible;
}

.container {
  padding: 96px 0;
}

.row {
  margin: 0 auto;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

#landingPage,
nav,
#showsSection {
  transition: all 0.5s ease-in-out;
}